html, body {
    max-width: 100%;
    overflow-x: hidden;
    background: #FCD85D;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

a{
	cursor:pointer;
}
@font-face{ 
	font-family: 'Track';
	src: url('fonts/Track.eot');
	src: url('Track.eot?#iefix') format('embedded-opentype'),
	     url('fonts/Track.woff') format('woff'),
	     url('fonts/Track.svg#webfont') format('svg');
}
#instr{
	padding:0;
	text-align:left;font-family:Montserrat;color:white;padding:20px;
}
#instr>h5{
	font-family: Track;
	color:#793212;

}
#instr>p{
	font-family: Montserrat;
	font-size: 0.8em;
	margin-bottom: 20px;
	text-align: justify;
	width: 80%;
}
.wallp{
	position:absolute;width:100%;padding-right:0;height:auto;max-height:50%;top:0;
}
#ytplayer{
    position : absolute;
    top      : 0;
    height   : 50%;
    width    : 100%;
}
.controls{
	padding:0;
	margin:0;
	position : absolute;
    top      : 50%;
    height   : 50%;
    width    : 100%;
    background-color: #da732e;
}
.headb{
	position: absolute;
	top: 0;
	width: 100%;
	height: 20%;
	text-align: center;
	vertical-align: middle;
	color: white;
	font-size: 18px !important;
	font-family: Track;
	padding-top:9%;
	background-color: #793212;
}
#yearr{
	position: relative;
	top:30%;
	left:5%;
}
.subb{
	display: none;
}
.filtertop{
	display: none;
}
.filters{
	display: block !important;
	position: absolute;
	top:40%;
	left:45%;
	color: #793212;
	font-family: Montserrat;
	font-weight: 800;
	font-size: 1.2em;
}

.hitme{
	position: absolute;
	top: 85%;
	width: 50%;
	height: 16%;
	text-align: center;
	font-size:0.9em;
	padding-top: 8%;
	color: white;
	font-family: Track;
	background-color: #793212;

}
.hitme2{
	right:0%;
	border-left:1px solid white;
}
.playlist{
	padding:0;
	margin:0;
	position: absolute;
	top:100%;
	width: 100%;
	height:45%;
	background: #da732e;
}
nav{
		padding:0;
	margin:0;
	background-color: #da732e;
}
.expand{
		padding:0;
	margin:0;
	position: absolute;
	width: 100%;
	height: 16%;
	top:190%;
	background: #793212;
	color: white;
	font-family: Montserrat;
	text-align: center;
	padding-top: 15px;
	cursor: pointer;
}
.footerp{
		padding:0;
	margin:0;
	 display:none;height:auto;position:absolute;top:220%;right:0;left:0;background:#eee;
}
nav ul{
		padding:0;
	margin:0;
	height:220%; 
	width:100%;padding-right:0;
	padding-left: 0px;
	overflow:hidden; 
	overflow-y:auto;
}
nav ul a{
	text-decoration: none;
	color:white;
	font-family: Montserrat;

}
nav ul li{
	padding-top: 20px;
	left:5%;
	padding-bottom: 20px;
	list-style: none;
	padding-left: 20px;
	border-bottom: 0.5px solid #eee;
}
nav ul a:hover,nav ul li:hover{
	background: white;
	color:#793212;
	text-decoration: none;
}
a:visited
{
	color:white;
	text-decoration: none;
	text-transform: uppercase;
}
a:link{
	text-decoration: none;
}
@media screen and (min-width: 1000px){
#ytplayer{
    position : absolute;
    top      : 0;
    right    : 0;
    height   : 100%;
    width    : 75%;
}
.controls{
	position : absolute;
    top      : 0;
    left    : 0;
    height   : 100%;
    width    : 25%;
    background-color: #da732e;
}
.headb{
	height: 10%;
}
#yearr{
	position: relative;
	top:11%;
	left:5%;
}
.subb{
	display: block !important;
	position: relative;
	color: #793212;
	font-family: Montserrat;
	font-weight: 800;
	top:10%;
	left:5%;
	text-align: left;
	font-size: 1em;
}
.filtertop{
	display: block !important;
	position: absolute;
	top:10%;
	color: #793212;
	font-family: Montserrat;
	font-weight: 800;
	right:15%;
	font-size: 1em;

}
.filters{
	display: block !important;
	position: absolute;
	top:20%;
	color: #793212;
	font-family: Montserrat;
	font-weight: 800;
	right:10%;
	font-size: 1em;
}
.hitme{
	position: absolute;
	top: 40%;
	width: 50%;
	height: 8%;
	text-align: center;
	font-size:1em;
	padding-top: 16px;
	color: white;
	font-family: Track;
	background-color: #793212;

}
.hitme2{
	right:0%;
	border-left:1px solid white;
}
.playlist{
	position: absolute;
	top:48%;
	width: 100%;
	height:45%;
	padding-bottom: 15px;
}
.expand{
	position: absolute;
	width: 100%;
	height: 7%;
	top:93%;
	background: #793212;
	color: white;
	font-family: Montserrat;
	text-align: center;
	padding-top: 15px;
	cursor: pointer;
}
nav ul{
	height:100%; 
	width:100%;padding-right:0;
	padding-left: 0px;
	overflow:hidden; 
	overflow-y:auto;
}
nav ul a{
	text-decoration: none;
	color:white;
	font-family: Montserrat;

}
nav ul li{
	padding-top: 20px;
	left:5%;
	padding-bottom: 20px;
	list-style: none;
	padding-left: 20px;
	border-bottom: 0.5px solid #eee;
}
nav ul a:hover,nav ul li:hover{
	background: white;
	color:#793212;
	text-decoration: none;
}
a:visited
{
	color:white;
	text-decoration: none;
	text-transform: uppercase;
}
a:link{
	text-decoration: none;
}
.wallp{
	position:absolute;width:75%;height:auto;top:0;right:0;text-align:right;max-height:none;
}
.footerp{
	 display:none;height:auto;position:absolute;top:100%;right:0;left:0;background:#eee;
}
}
