html, body {
    max-width: 100%;
    overflow-x: hidden;
    background: #FCD85D;
}
#instr{
	display:none;
}
@font-face{ 
	font-family: 'Track';
	src: url('fonts/Track.eot');
	src: url('Track.eot?#iefix') format('embedded-opentype'),
	     url('fonts/Track.woff') format('woff'),
	     url('fonts/Track.svg#webfont') format('svg');
}
.framee{
	background-color:#FCD85D;
}
#instr{
	text-align:left;font-family:Open Sans;color:white;padding:20px;
}
#instr>h5{
	font-family: Track;
	color:#a33332;

}
#instr>p{
	font-family: Open Sans;
	font-size: 0.9em;
	margin-bottom: 20px;
	text-align: justify;
	width: 80%;
}
=======

>>>>>>> origin/master
.wallp{
	position:absolute;width:100%;top:0;
}
#ytplayer{
    position : absolute;
    top      : 0;
    height   : 50%;
    width    : 100%;
}
.controls{
	position : absolute;
    top      : 50%;
    height   : 50%;
    width    : 100%;
    background-color: #e15349;
}
.headb{
	position: absolute;
	top: 0;
	width: 100%;
	height: 20%;
	text-align: center;
	vertical-align: middle;
	color: white;
	font-size: 18px !important;
	font-family: Track;
	background-color: #a33332;
}
#yearr{
	position: relative;
	top:30%;
	left:5%;
}
.subb{
	display: none;
}
.filtertop{
	display: none;
}
.filters{
	display: block !important;
	position: absolute;
	top:30%;
	color: #a33332;
	font-family: Open Sans;
	font-weight: 800;
	right:10%;
	font-size: 1em;
}
.hitme{
	position: absolute;
	top: 85%;
	width: 50%;
	height: 8%;
	text-align: center;
	font-size:1em;
	padding-top: 16px;
	color: white;
	font-family: Track;
	background-color: #a33332;
}
.hitme2{
	width:100%;
	height:15%;
}
@media screen and (min-width: 1000px){
#ytplayer{
    position : absolute;
    top      : 0;
    right    : 0;
    height   : 100%;
    width    : 75%;
}
.controls{
	position : absolute;
    top      : 0;
    left    : 0;
    height   : 100%;
    width    : 25%;
    background-color: #e15349;
}
.headb{
	height: 10%;
}
#yearr{
	position: relative;
	top:11%;
	left:5%;
}
.subb{
	display: block !important;
	position: relative;
	color: white;
	font-family: Open Sans;
	font-weight: 800;
	top:10%;
	left:5%;
	text-align: left;
	font-size: 1em;
}
.filtertop{
	display: block !important;
	position: absolute;
	top:10%;
	color: white;
	font-family: Open Sans;
	font-weight: 800;
	right:15%;
	font-size: 1em;

}
.filters{
	display: block !important;
	position: absolute;
	top:20%;
	color: #a33332;
	font-family: Open Sans;
	font-weight: 800;
	right:10%;
	font-size: 1em;
}
.hitme{
	position: absolute;
	top: 40%;
	width: 50%;
	height: 8%;
	text-align: center;
	font-size:1em;
	padding-top: 16px;
	color: white;
	font-family: Track;
	background-color: #a33332;

}
.hitme2{
	right:0%;
	border-left:1px solid white;
}
.playlist{
	position: absolute;
	top:48%;
	width: 100%;
	height:52%;
}
nav ul{
	height:100%; 
	width:100%;
	padding-left: 0px;
	overflow:hidden; 
	overflow-y:auto;
}
nav ul a{
	text-decoration: none;
	color:white;
	font-family: Open Sans;

}
nav ul li{
	padding-top: 20px;
	left:5%;
	padding-bottom: 20px;
	list-style: none;
	padding-left: 20px;
	border-bottom: 0.5px solid #eee;
}
nav ul a:hover,nav ul li:hover{
	background: white;
	color:#a33332;
	text-decoration: none;
}
a:visited
{
	color:white;
	text-decoration: none;
	text-transform: uppercase;
}
a:link{
	text-decoration: none;
}
.wallp{
	position:absolute;width:75%;top:0;right:0;text-align:right;
}
#instr{
	display:block;text-align:left;font-family:Open Sans;color:white;padding:20px;
}
#instr>h5{
	font-family: Track;
	color:#a33332;

}
#instr>p{
	font-family: Open Sans;
	font-size: 0.9em;
	margin-bottom: 20px;
	text-align: justify;
	width: 80%;
}
}
