@font-face {
  font-family: 'Track';
  src: url('Track.eot');
  src: url('Track.woff2') format('woff2'),
       url('Track.woff') format('woff'),
       url('Track.ttf') format('truetype'),
       url('Track.svg#Track') format('svg'),
       url('Track.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

